* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    -webkit-app-region: drag;
    background-color: #353535;
}

.option {
    padding: 10px 25px;
    font-size: 16px;
    cursor: pointer;
    -webkit-app-region: no-drag;
    color: white;
}

.option:hover {
    background-color: red;
}

div #filePicker {
    align-self: stretch;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 32px;
}

div #mainContent {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

div #content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

div #imageEditor {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

div #imageControls, div #preview {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
}

div .effectType {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    font-size: 16px;
    cursor: pointer;
}